.writers {
  width: 100%;
  display: flex;
  /* background-color: aquamarine; */
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;

}
.writers-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.writer-cards {
  width: 100%;
  /* background-color: burlywood; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 30px;
}
/*======================== layout =======================*/
.writers-linkfirst{
  width: 25%;
  text-decoration: none;
}
.writers-linksecond{
  width: 20%;
  text-decoration: none;
}
.writers-linkthird{
  width: 15%;
  text-decoration: none;
}
.writersLayoutfirst {
  display: flex;
  /* flex: 1; */
  width: 100%;
  margin-top: 30px;
  height: 90%;
}
.writersLayoutsecond {
  display: flex;
  /* flex: 1; */
  width: 100%;
  margin-top: 30px;
  /* background-color: aqua; */
  height: 70%;
}
.writersLayoutthird {
    display: flex;
    /* flex: 5; */
    width: 100%;
    margin-top: 40px;
    height: 50%;
    /* background-color: yellowgreen; */
  }
.writersLayout-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-between; */
  /* height: 165px; */
  /* background-color: blueviolet; */
}
.writersLayout-container-img{
/* background-color: aquamarine; */
display: flex;
justify-content: center;
align-items: center;
width: 90%;
height: 150px;
}
.writersLayout-container img {
  border-radius: 50%;
  width: 40%;
}
.writersLayout-container h3 {
  font-family: "Amariya-Bold";
  color: var(--black);
  /* margin-top: 10px; */
}


/*============== WriterInside ==================*/
.writerInside{
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  min-height: 70vh;
}
.writerInside-container{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: rgb(205, 152, 255); */
}
.writerInside-content{
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.writerInside-content img{
  border-radius: 50%;
  width: 100px;
}
.writerInside-content h2{
  color: var(--black);
  margin-right: 10px;
  font-family: 'Amariya-Bold';
}
.social-icons-small-writer{
  color: var(--first-color);
  margin-right: 10px;

}
.social-icons-small-writer span{
  /* background-color: brown; */
  /* width: 100%; */
  margin-right: 15px;
  cursor: pointer;
  
}

.social-icons-small-writer span a:focus{
  color: var(--first-color);
  
}

.writerInside-articles{
  width: 100%;
  margin-top: 20px;
  
}

.writerInside-articles-all{
  margin-top: 25px;
}