@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&family=Roboto:wght@300;400;500;700&family=Tajawal:wght@200;300;500;800&display=swap');
:root{
  --first-color:#39267E;
  --white:#fff;
  --light-white:#F9F9F9;
  --off-white:#919192;
  --black:#4D4F5C;
  --purple:#6F277D;
}
body {
  margin: 0;
  background: var(--light-white);
  /* background: cadetblue; */
  font-family: 'Markazi Text', serif;
  direction: rtl;
  overflow-x: hidden;
}

.global-simi-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  background-color: var(--first-color);
  font-size: 18px;
  color: var(--white);
}
.global-simi-btn-small-blue,
.global-simi-btn-small-purple{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 27px;
  font-size: 17px;
  color: var(--white);
}
.global-simi-btn-small-blue{
  background-color: var(--first-color);
}
.global-simi-btn-small-purple{
  background-color: var(--purple);
}


/* ====== حواف تحت كل عنوان =====*/
.header-left-container h2,
.most-popular-container h1,
.podcast-container h1,
.edrak-tv-container h1{
  color: var(--black);
  margin-bottom: 8px;
}

@media screen and (max-width:900px) {
  body{
    overflow-x: hidden;
  }
}