.papers{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    min-height: 67vh;

}
.papers-container{
    width: 80%;
    display: flex;
    flex-direction: column;

}
.all-papers{
    display: flex;
    width: 100%;
    /* background-color: aquamarine; */
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*======================== paperInside========================== */
.paperInside{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}
.paperinside-content{
    width:70%;
    margin-top: 25px;
}
.img-paperinside-container{
    width: 70%;
    display: flex;
    justify-content: center;
}
.img-paperinside-container img{
    width: 100%;
}

.paper-paragraph-container{
    width: 70%;
    display: flex;
    margin-top: 20px;
    /* background-color: aquamarine; */
}

.more-papers{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.more-papers-cards{
    width: 100%;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}