* {
  box-sizing: border-box;
}
.author-link{
  text-decoration: none;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  flex-wrap: wrap;
  /* height: 100%; */
  /* background-color: aquamarine; */
  margin-top: 10px;
}
.authors {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  /* height: 100%; */
  /* background-color: aquamarine; */
  margin-top: 10px;

  /* margin: 5px 5px; */
}
.img-contain {
  width: 40%;
}
.name-contain {
  width: 60%;
}
.authors img {
  border-radius: 50%;
  width: 77px;
  height: 77px;
}
.authors h4 {
  margin: 0px 5px 0 0;
  font-weight: 400;
  color: var(--black);
}

/*========= this is the style of AuthorsBlock =========*/
.authorblock-link{
  text-decoration: none;
  list-style: none;
}

.authors-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* flex-wrap: wrap; */
  /* height: 100%; */
  /* background-color: aquamarine; */
  margin-top: 15px;

  /* margin: 5px 5px; */
}
.img-contain-block {
  width: 30%;
}
.name-contain-block {
  width: 70%;
}
.name-contain-block h3 {
  font-size: 18px;
}
.authors-block img {
  width: 77px;
  height: 77px;
  border-radius: 50%;
}
.authors-block h3 {
  margin: 0px 8px 0 0;
}

/*============= mobile========= */
@media screen and (max-width: 500px) {
  .authors-block img {
    width: 80%;
    /* border-radius: 50%; */
  }
  .authors-block h3 {
    margin: 0;
    font-size: 20px;
  }
}

@media screen and (max-width: 999px) {
  .authors h4 {
    margin: 0px 10px 0 0;
    font-size: 18px;
  }
}

@media screen and (max-width: 1370px) {
  .img-contain {
    width: 30%;
    /* background-color: aqua; */
  }
  .name-contain {
    width: 70%;
    /* background-color: aqua; */
  }
  .authors img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
  }
  .authors h4 {
    margin: 0px 25px 0 0;
    font-weight: 400;
    color: var(--black);
  }
  /* authorBlock */
  .authors-block img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  .authors-block h3 {
    margin: 0px 15px 0 0;
  }
}


