.cardPodcast {
  width: 100%;
  height: 180px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
  margin: 20px 0;
}
.cardPodcast img {
  width: auto;
  max-width: 230px;
  height: 100%;
  background-position: center;
  background-size: contain;
}
.podcast-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: start;
  justify-content: space-between;
  padding: 0 25px 0 0;
}
.podcast-content h2,
.podcast-content p {
  color: var(--black);
  font-family: "Amariya-Bold";
}
.podcast-content h2 {
  font-size: 28px;
}

.about-author-cardPodcast {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 34%;
  color: var(--off-white);
  font-family: "Amariya-Bold";
  margin-top: 10px;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .cardPodcast {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
  .cardPodcast img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .podcast-content {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: auto;
    text-align: start;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0 0px 0 0;
  }
  .about-author-cardPodcast {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: var(--off-white);
    font-family: "Amariya-Bold";
    margin-top: 10px;
    font-size: 16px;
  }
}
