.card-link{
    text-decoration: none;
   /* padding: 0.5rem 1rem; */
  list-style: none;

}
.card{
    width: 100%;
    height:130px ;
    /* background-color:teal; */
    display: flex;
    flex-direction: row;
    margin-top:20px;
}
.card-container-img{
    width: 40%;
    height: 100%;
    
}
.card-img{
    max-width: 100%;
    height: 100%;
    /* object-fit:cover;
   object-position:50% 50%; */
}

.card-container-content{
    width: 60%;
    /* background-color: brown; */
    display: flex;
    justify-content: flex-end;
}
.card-container-content-container{
    /* background-color:steelblue; */
    width: 95%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ======== about author in card ====== */


.card-container-content-container p,
.card-container-content-container h3{
    color: var(--black);
    margin-top: 5px;

}

.about-author-in-card{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    color: var(--off-white);
    margin: 5px 0 0px 0;
}

/* =========== media query ============= */
@media screen and (max-width:900px) {
    .card{
        width: 100%;
        height:auto ;
        /* background-color:teal; */
        display: flex;
        flex-direction: column;
        margin-top:20px;
    }
    .card-container-img{
        width: 100%;
        /* height: 100%; */
        
    }
    .card-container-content{
        width: 100%;
        /* background-color: brown; */
        display: flex;
        justify-content: flex-end;
    }
}